# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.metadata

# Android
android/.gradle/
android/local.properties
android/.idea/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db